h1{text-align: center; color: rgb(255, 255, 255);}
.videos{text-align: center;}
.canal{text-align: center;}
body{background-color: rgb(16, 24, 21);}
.pp{color: white;}
.setaesquerda{text-align: center;}
.paragrafo{font-size: 22px;}