@charset "UTF-8";


h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.699);
}

.videos {
  text-align: center;
 }

iframe {
  max-width: 100%;
  height: auto;
}

.canal {
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.699)
}

body {
  background-image: linear-gradient(-95deg, #042420, #00554e);
}

.pp {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.699)
}

.setaesquerda {
  text-align: center;
}

.paragrafo {
  font-family: monospace;
  font-size: 22px;
  text-align: center;
}
@media (max-width: 768px) {
  iframe {
    max-width: 100%;
    height: auto;
  }
}
